h1{
	font-family: 'Macondo', cursive;
	text-align: center;
}

.board {
  position: relative;
}
.board-col {
  position: absolute;
  left:0;
  right:0;
  width:30%;
  margin:0 1.5%;
  background:#f0f0f0;
  border-radius: 3px;
  z-index:1;
}
.board-col.muuri-item-dragging {
  z-index: 3;
  cursor:move;
}
.board-col.muuri-item-releasing {
  z-index: 2;
}
.board-col-header {
  position: relative;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  background: #333;
  color: #fff;
  border-radius: 3px 3px 0 0;
}
.board-col-content {
  position: relative;
  border: 10px solid transparent;
  min-height: 95px;
}
.board-team-member {
  position: absolute;
  width: 100%;
  margin: 5px 0;
}
.board-team-member.muuri-item-releasing {
  z-index: 9998;
}
.board-team-member.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}
.board-team-member.muuri-item-hidden {
  z-index: 0;
}
.board-member-name {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
